#include "{{name}}.h"
#include "BuiltIn.h"
#include "hasArgs.h"
#include "Command.h"

{{name}}::{{name}}():BuiltIn("{{name}}"),hasArgs(){
}

{{name}}::~{{name}}(){
    
}
ECommandStatus {{name}}::execute(){
}

void {{name}}::setArgs(std::string args){
}